<!DOCTYPE html>
<html{{ with .Site.Language.Lang }} lang="{{ . }}"{{ end }}>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header/site-header.html" . -}}
        <main>
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
