<head>
        <meta charset="utf-8">
        <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
        {{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">{{ end }}
        <link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}'>
        <meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <link rel="stylesheet" href="/css/simple.css/simple.css">
        {{ partial "scss.html" "custom" }}
        {{ with .Resources.GetMatch "custom.css" }}<style>{{ .Content | safeCSS }}</style>{{ end }}
        {{ partial "analytics.html" . }}
</head>
