<nav>
  <ul>
    {{ $currentPage := . }}
    {{ range (default (slice .Site.Home | append .Site.Home.Pages) .Site.Menus.main) }}
    <li>
      <a {{ if eq $currentPage . }} class="current"{{ end }} href="{{ .URL }}">{{ with .Page }}{{ .Menus.main.Pre }} {{ end }}{{ .Name }}</a>
    </li>
    {{ end }}
    {{ range .Translations }}
    <li>
      <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    </li>
    {{ end }}
  </ul>
</nav>
